body{
	background-color: 	#FFFFFF;
}

#bannerImage{
	height: 100px;
}

.loadBar{

	height: 			20px;
	width: 				400px;
	background-color: 	#DFDFDF;
	border: 1px solid 	#DFDFDF;
	border-radius: 		15px;
	}

.loadBar .loadBarFill{

	position:			relative;
	height: 			100%;
	background-color: 	#7289DA;
	border-radius: 		15px;
	overflow:			hidden;
	}
	

.loadBar .label{

	position: 			absolute;
    width: 				400px;
	color: 				#000000;
	line-height: 		20px;
	font-family: 		arial;
	font-size: 			12.5px;
	text-align:			center;
	font-weight:		bold;
	padding-top: 		1px;
	padding-bottom: 	1px;
	user-select:		none;
}

.loadBarFill .label{

	position: 			absolute;
    width: 				400px;
	color: 				#FFFFFF;
	line-height: 		20px;
	font-family: 		arial;
	font-size: 			12.5px;
	text-align:			center;
	font-weight:		bold;
	padding-top: 		1px;
	padding-bottom: 	1px;
	user-select:		none;
}

.button{
	width: 				125px;
	height: 			30px;
	border: 			2px solid #7289DA;
	border-radius:		30px;
	text-align:			center;
	background-color:	#DFDFDF; 
}

.button:hover{
	cursor:				pointer;
	background-color:	#7289DA; 
}

.button .label{
	font-family: 		'Open Sans', sans-serif;
	font-weight:		bold;
	font-size:			12px;
	line-height: 		30px;
	color: 				#000000;
	user-select:		none;
}

.button:hover .label{
	color: 				#FFFFFF;
}

.back{
	color: 				#7289DA;
}

.back:hover{
	color:				#DFDFDF;
}

.back:visited{
	color:				#7289DA;
}